/MIndBox_Shapes/MindBox/obj
/MIndBox_Shapes/MindBox.Geometry.Server/obj
/MIndBox_Shapes/MindBox.Geometry.Server/bin
/MIndBox_Shapes/UTestShapes/bin
/MIndBox_Shapes/UTestShapes/obj
/MIndBox_Shapes/.vs
